name: Build and Publish

on:
  push:
    branches:
      - main
      - pypi
    tags:
      - 'v*'
  pull_request:
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - uses: actions/setup-python@v5
        with:
          python-version: '3.x'

      - name: Build distributions
        run: pipx run build

      - uses: actions/upload-artifact@v4
        with:
          name: sdist
          path: dist/*
          if-no-files-found: error

  upload_pypi:
    needs: [build_sdist]
    runs-on: ubuntu-latest
    environment: release
    permissions:
      id-token: write
      contents: read
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/v') || github.event_name == 'release'
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: sdist
          path: dist

      - name: Publish to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          print-hash: true
